version: "3.8"
services:
  redis:
    image: redis:alpine
    container_name: goxec-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"